flows.json
[{"id":"1933dff7.73443","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"15f51dae.63fd62","type":"telegram receiver","z":"1933dff7.73443","name":"","bot":"1d7e65c.d79be9a","saveDataDir":"","filterCommands":false,"x":90,"y":180,"wires":[["846a9d4a.e6ccf","23e85a1f.e8bd26"],["9b4dad96.8b091"]]},{"id":"846a9d4a.e6ccf","type":"debug","z":"1933dff7.73443","name":"Entrada","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":160,"y":80,"wires":[]},{"id":"b09413fb.0da8c","type":"telegram sender","z":"1933dff7.73443","name":"","bot":"1d7e65c.d79be9a","haserroroutput":false,"outputs":1,"x":690,"y":180,"wires":[["834ee0c0.edffd"]]},{"id":"7c87c71f.d5a3e8","type":"watson-assistant-v2","z":"1933dff7.73443","name":"Bot do Watson","service-endpoint":"","assistant_id":"09f3d309-1424-4422-905a-6a747ea43bc7","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"persist-session-id":false,"x":380,"y":180,"wires":[["1539c641.ec275a","74c34047.c9f9e"]]},{"id":"23e85a1f.e8bd26","type":"change","z":"1933dff7.73443","name":"Telegram > Watson","rules":[{"t":"set","p":"params.session_id","pt":"msg","to":"payload.chatId","tot":"msg"},{"t":"set","p":"chatId","pt":"msg","to":"payload.chatId","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.content","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":300,"wires":[["7c87c71f.d5a3e8"]]},{"id":"1539c641.ec275a","type":"change","z":"1933dff7.73443","name":"Watson > Telegram","rules":[{"t":"set","p":"payload.chatId","pt":"msg","to":"chatId","tot":"msg"},{"t":"set","p":"payload.type","pt":"msg","to":"message","tot":"str"},{"t":"set","p":"payload.content","pt":"msg","to":"payload.output.generic[0].text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":300,"wires":[["b09413fb.0da8c"]]},{"id":"74c34047.c9f9e","type":"debug","z":"1933dff7.73443","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":80,"wires":[]},{"id":"834ee0c0.edffd","type":"debug","z":"1933dff7.73443","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":80,"wires":[]},{"id":"9b4dad96.8b091","type":"function","z":"1933dff7.73443","name":"Acesso não autorizado","func":"msg.payload.content = \"Você não é um usuário autorizado\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":400,"wires":[["b09413fb.0da8c"]]},{"id":"1d7e65c.d79be9a","type":"telegram bot","botname":"Checkpoint1bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]